
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-edit"></i> របាយការណ៍អតិថិជន POST BACK DATE</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="breadcrumb flat row nopadding" style="margin-top:-10px;">
                        <a href="@Url.Action("Index","PostBackDate")" class="active">POST BACK DATE</a>
                    </div>
                    <p></p>
                    <div class="row nopadding">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 nopadding">
                            <span class="pull-right">
                                <button type="button" class="btn btn-primary" onclick="javascript:printDiv('print_report')"><i class="fa fa-save"></i> Print</button>
                            </span>
                            <span class="pull-right">
                                <button type="button" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Excel</button>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div id="print_report">
                            <div class="col-md-12" style="display:none;" id="header_print">
                                <div style="text-align:center;margin-left:310px;">
                                    <img src="~/assets/images/report_logo.png" alt="user" style="width:90px;margin-top:20px;">
                                    <img src="~/assets/images/logo_main.PNG" style="width:380px;" alt="user">
                                </div>
                                <h5 style="color:rgba(0,0,0,0.87);text-align:center;margin-left:320px;font-weight:bold;text-decoration: underline">របាយការណ៍ដែលបាន Post back date ធ្វើដោយគ្រប់អ្នកប្រើប្រាស់ប្រព័ន្ធ</h5>
                                <div class="row">
                                    <span style="font-weight:bold; text-align:center;margin-left:450px ;font-weight:bold;font-size:12px">ប្រចាំខែៈ</span>
                                    @{
                                        if (ViewBag.date_start != null)
                                        {
                                            @String.Format("{0:dd/MMM/yyyy}", ViewBag.date_start);
                                        }
                                        else
                                        {
                                            DateTime value = DateTime.Now;
                                            @String.Format("{0:dd/MMM/yyyy}", value);
                                        }
                                    }
                                </div>
                                @*<div class="row"> <span style="font-weight:bold;">នាយកដ្ឋានព័ត៌មានវិទ្យា</span></div>
                                <div class="row"> <span style="font-weight:bold;">ផ្នែកគ្រប់គ្រង និងគាំទ្រប្រព័ន្ធ</span></div>*@
                                <br />
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="active">
                                        <td style="vertical-align:middle;boder;border-bottom:3pt solid #22d4ae;" rowspan="3">ល.រ</td>
                                        <td style="vertical-align:middle;boder;border-bottom:3pt solid #22d4ae;" rowspan="3">ការិយាល័យ</td>
                                        <td style="vertical-align:middle;boder;border-bottom:3pt solid #22d4ae;white-space: nowrap;overflow: hidden;" rowspan="3">
                                            ចំនួនអតិថិជនសរុប
                                        </td>
                                        <td style="text-align:center" colspan="3">BackDate</td>
                                        <td style="vertical-align:middle;boder;border-bottom:3pt solid #22d4ae; white-space: nowrap;overflow: hidden;" rowspan="3">
                                            មូលហេតុ
                                        </td>
                                        <td style="vertical-align:middle;boder;border-bottom:3pt solid #22d4ae; white-space: nowrap;overflow: hidden;" rowspan="3" ">
                                            ឯកសារយោង
                                        </td>
                                    </tr>
                                    <tr class="active" style="boder;border-bottom:3pt solid #22d4ae;white-space: nowrap;overflow: hidden;">
                                        <td style="text-align:center">
                                            ចំនួនអតិថិជន
                                        </td>
                                        <td style="text-align:center">
                                            ចំណុច
                                        </td>
                                        <td style="text-align:center">
                                            ធ្វើដោយ
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in ViewBag.backdate.Rows)
                                    {
                                    <tr>
                                        <td style="white-space: nowrap;overflow: hidden; text-align:center">@row["id"].ToString()</td>
                                        <td style="white-space: nowrap;overflow: hidden;text-align:left">@row["BrName"].ToString()</td>
                                        <td style="white-space: nowrap;overflow: hidden;text-align:right">@row["totalAcc"].ToString()</td>
                                        <td style="white-space: nowrap;overflow: hidden;text-align:right">@row["Totaltrn"].ToString()</td>
                                        <td style="white-space: nowrap;overflow: hidden;">@row["TrnType"].ToString()</td>
                                        <td style="white-space: nowrap;overflow: hidden;">@row["TlrName"].ToString()</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                    <tr></tr>
                                </tfoot>
                            </table>
                            <br />
                            <div class="col-md-12" style="display:none;" id="footer_print">
                                <div class="col-md-4" style="width:200px;text-align:center">
                                    <span class="row" style="font-weight:bold;">រៀបចំដោយ</span>
                                    <span class="row">មន្ត្រីប្រព័ន្ធធនាគារស្នូល</span>
                                </div>
                                <div class="col-md-4" style="width:200px;text-align:center">
                                    <span class="row"> ត្រួតពិនិត្យដោយ</span>
                                    <span class="row">
                                        ​​​ប្រធាននាយកដ្ឋានព័តមានវិទ្យា
                                    </span>
                                </div>
                                <div class="col-md-4" style="width:370px;text-align:center">
                                    <span class="row">ត្រួតពិនិត្យដោយ</span>
                                    <div class="row">
                                        <span>ប្រធានផ្នែកបណ្ដុះបណ្ដាល និងគ្រប់គ្រងប្រព័ន្ធ</span>
                                        <span style="margin-left:20px;">ប្រធាននាយកដ្ឋានហិរញ្ញវត្ថុ</span>
                                    </div>
                                </div>
                                <div class="col-md-4" style="width:250px;text-align:center">
                                    <span class="row"> អនុម័តដោយ</span>
                                    <span class="row">ប្រធាននាយិកាប្រតិបត្តិ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <script>
    function printDiv(divID) {
    //Get the HTML of div
    var divElements = document.getElementById(divID).innerHTML;
    //Get the HTML of whole page
    var oldPage = document.body.innerHTML;
    //Reset the page's HTML with div's HTML onl
    document.body.innerHTML =
        "<html><head><title></title></head><body>" +
        divElements + "</body>";
        var table=document.getElementById("print_report");
        var r=0;
        document.getElementById("header_print").style.display="inline-block";
        document.getElementById("footer_print").style.display="inline-block";
    //Print Page
    window.print();
    //Restore orignal HTML
    document.body.innerHTML = oldPage;
    window.location.href="";
    //window.location.href="{{route('settlement.dashboard')}}";
    document.getElementById("checkbox").checked = false;
    }
    </script>
